<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head.ejs") %>
    </head>
    <body>
        <%- include("includes/nav.ejs") %>

        <main>
            <section class="hero">
                <hgroup>
                    <h1>Share photos of your cat</h1>
                    <h2>and meet other cat lovers</h2>
                </hgroup>
            </section>
            <section class="images">
                <ul class="posts">
                    <% for (const post of posts.reverse()) {%>
                    <li class="post shadow bg-white round">
                        <div class="post-header">
                            <p class="primary bold"><%= post.name %></p>
                            <a
                                href="http://res.cloudinary.com/wkorneusz/image/upload/<%= post.image %>"
                                target="_blank"
                                download
                                ><span class="material-icons-outlined">
                                    file_download
                                </span></a
                            >
                        </div>
                        <img
                            class="post-image"
                            src="http://res.cloudinary.com/wkorneusz/image/upload/<%= post.image %>"
                            alt="cat"
                        />
                        <a href="/posts/<%= post._id %> ">
                            <div class="post-body">
                                <p>
                                    <span class="primary bold"
                                        ><%= post.name %></span
                                    >
                                    <%= post.body %>
                                </p>
                                <p class="text-gray secondary">
                                    View comments
                                </p>
                                <time class="text-gray secondary"
                                    ><%= post.date.toLocaleTimeString("en-US", {
                                    weekday: "long", year: "numeric", month:
                                    "long", day: "numeric"}) %></time
                                >
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </section>
        </main>
    </body>
</html>
